@font-face {
  font-family: "CeraRoundProThin";
  src: url("/restaurant_learning/static/src/fonts/CeraRoundProThin.otf")
    format("truetype");
}
@font-face {
  font-family: "CeraRoundProRegular";
  src: url("/restaurant_learning/static/src/fonts/CeraRoundProRegular.otf")
    format("truetype");
}
@font-face {
  font-family: "CeraRoundProMedium";
  src: url("/restaurant_learning/static/src/fonts/CeraRoundProMedium.otf")
    format("truetype");
}
@font-face {
  font-family: "CeraRoundProLight";
  src: url("/restaurant_learning/static/src/fonts/CeraRoundProLight.otf")
    format("truetype");
}
@font-face {
  font-family: "CeraRoundProBlack";
  src: url("/restaurant_learning/static/src/fonts/CeraRoundProBlack.otf")
    format("truetype");
}
@font-face {
  font-family: "CeraRoundProBold";
  src: url("/restaurant_learning/static/src/fonts/CeraRoundProBold.otf")
    format("truetype");
}
